:root {
  --color-primary: rgb(7, 95, 109);
  --color-secondary: rgb(74, 197, 216);
  --bg-color1: rgb(94, 91, 89);
  --bg-color2: #e5e4e4;
  --color-dice: rgb(224 0 3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #e5e4e4;
  width: 100vw;
  min-width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.centrar {
  height: auto;
  width: 95%;
  background-color: rgb(94, 91, 89);
  background: url(https://img.freepik.com/free-vector/art-deco-frame-design_23-2150436642.jpg?t=st=1719425775~exp=1719429375~hmac=ba6ec28…&w=740);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;

  & h1 {
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    color: white;
  }
  & .analitics {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 0.3rem;
    place-items: center;
    /* padding: 2rem; */
  }
  & h2 {
    font-size: 1.5rem;
    background-color: var(--color-dice);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & h3 {
    font-size: 1.5rem;
    /* width: 2rem; */
    height: 2rem;
    color: white;
    text-align: center;
  }
  & .picture {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* max-height: 28rem; */
    flex: 0 1 28rem;
  }

  & img {
    height: 100px;
    width: 100px;
  }
  & .range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & label {
      color: white;
    }
    & .boton {
      /* width: 200px;
        height: 200px; */
      color: white;
      font-size: 1.5rem;
      background-color: var(--color-primary);
      box-shadow: 2px 2px 13px rgb(0, 0, 0);
      border-radius: 2rem;
      border: none;
      padding: 1.5rem;
      margin: 1rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: var(--color-secondary);
        box-shadow: 2px 2px 13px rgb(0, 0, 0);
        border-radius: 2rem;
        border: none;
        padding: 1.5rem;
        margin: 1rem;
        cursor: pointer;
      }
    }
    & .range-value {
      font-size: 1rem;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(245, 244, 244);
  cursor: pointer;
  width: 15rem;
  height: 0.5rem;
  border-radius: 10px;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(27, 22, 22);
  height: 1rem;
  border-radius: 10px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: rgb(245, 244, 244);
  height: 1rem;
  border-radius: 10px;
}
/******** MS ********/
input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  /* Override default look */
  -webkit-appearance: none;
  appearance: none;
  /* margin-top = (track height in pixels / 2) - (thumb height in pixels /2) */
  margin-top: -0.5rem;
  /* Centers thumb on the track */
  background-color: #ece8e8;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
  box-shadow: 3px 3px 3px #000000, 0px 0px 1px #0d0d0d;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-track {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
